@font-face {
	font-family: "cx";
	src: url('iconfont.woff2?t=1644305639486') format('woff2'), url('iconfont.woff?t=1644305639486') format('woff'), url('iconfont.ttf?t=1644305639486') format('truetype');
}

.cx {
	font-family: "cx" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cx-kefu1:before {
	content: "\e671";
}

.cx-bing:before {
	content: "\e69a";
}

.cx-google:before {
	content: "\eaa8";
}

.cx-liu:before {
	content: "\e606";
}

.cx-Sougou:before {
	content: "\e607";
}

.cx-begin:before {
	content: "\e600";
}

.cx-haibao:before {
	content: "\e623";
}

.cx-weixin:before {
	content: "\e6bb";
}

.cx-zhifeiji-copy:before {
	content: "\e61b";
}

.cx-yonghu:before {
	content: "\e602";
}

.cx-mima:before {
	content: "\e603";
}

.cx-youjian:before {
	content: "\e604";
}

.cx-yanzheng:before {
	content: "\e605";
}

.cx-alipay:before {
	content: "\e61a";
}