#optionsframework {
	max-width: 860px;
	background: #fff;
	border-radius: 0 3px 3px 3px;
	border: 1px solid #ddd;
}

.options-form {
	min-height: 100vh;
	padding-bottom: 65px;
}

#optionsframework h3 {
	cursor: default;
	background: #fff;
	font-size: 1.2em;
	color: #333;
	font-weight: 700;
	margin-top: 26px;
	padding: 0 30px;
	border-bottom: none !important;
}

[id*="group-"] h3:after {
	font-family: dashicons;
	font-size: 1.1rem;
	color: #777;
	font-weight: normal;
	vertical-align: -15%;
	margin: 0 10px;
}

#optionsframework .heading,#optionsframework .group-heading {
	font-size: 1.1em;
	font-weight: 700;
}

#optionsframework p {
	margin-bottom: 0;
	padding-bottom: 10px;
}

#optionsframework .section {
	padding: 2px 30px;
}

#optionsframework .group {
	padding-bottom: 40px;
}

#optionsframework .section .controls {
	float: left;
	margin-bottom: 5px;
	padding-right: 2%;
}

#optionsframework .section .explain {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: #777;
}

.section-text .explain,.section-select .explain {
	line-height: 27px !important;
}

.section-textarea .controls {
	width: 100% !important;
}

.section-upload .explain {
	float: left;
}

@media screen and (max-width:550px) {
	.section-text .explain {
		float: left;
	}
}

#optionsframework .section-checkbox .controls {
	width: 98%;
}

#optionsframework .section-checkbox .explain {
	max-width: 94%;
}

#optionsframework .controls input[type=text] {
	width: 100%;
}

#optionsframework .controls input[type=text].wp-color-picker {
	width: 65px;
}

#optionsframework .controls select,#optionsframework .controls textarea {
	margin-bottom: 10px;
	width: 100%;
}

#optionsframework .section-radio label,#optionsframework .section-multicheck label {
	float: left;
	max-width: 90%;
	line-height: 16px;
	margin-bottom: 5px;
}

#optionsframework input.checkbox {
	margin: 5px 15px 5px 0;
	float: left;
	clear: both;
}

#optionsframework input.of-radio {
	margin: 1px 5px 5px 2px;
	float: left;
}

#optionsframework .section-typography .controls {
	float: none;
	width: auto;
}

#optionsframework .section-typography .explain {
	float: none;
	width: auto;
}

#optionsframework .controls .of-typography-size {
	width: 80px;
	float: left
}

#optionsframework .controls .of-typography-unit {
	width: 50px;
	margin-left: 5px;
	float: left
}

#optionsframework .controls .of-typography-face {
	width: 100px;
	margin-left: 5px;
	float: left
}

#optionsframework .controls .of-typography-style {
	width: 80px;
	margin-left: 5px;
	margin-right: 5px;
	float: left
}

#optionsframework .section-typography .wp-picker-container {
	margin-top: 2px;
}

#optionsframework .of-background-properties {
	clear: both;
	margin-top: 18px;
}

#optionsframework .controls .of-background-repeat {
	width: 125px;
	margin-right: 5px;
	float: left
}

#optionsframework .controls .of-background-position {
	width: 125px;
	margin-right: 5px;
	float: left
}

#optionsframework .controls .of-background-attachment {
	width: 125px;
	margin-right: 5px;
	float: left
}

#optionsframework .section-background .wp-picker-container {
	margin-bottom: 10px;
}

#optionsframework .controls .of-radio-img-img {
	border: 3px solid #f9f9f9;
	margin: 0 5px 10px 0;
	display: none;
	cursor: pointer;
	float: left;
}

#optionsframework .controls .of-radio-img-selected {
	border: 3px solid #ccc
}

#optionsframework .controls .of-radio-img-img:hover {
	opacity: .8;
}

#optionsframework .controls .of-border-width {
	width: 80px;
	float: left
}

#optionsframework .controls .of-border-style {
	width: 120px;
	float: left
}

#optionsframework .hide {
	display: none;
}

.hb {
	margin: 0 0 5px 0;
}

#optionsframework .of-option-image {
	max-width: 340px;
	margin: 3px 0 18px 0;
}

#optionsframework .mini .controls input {
	min-width: 50px;
	width: 50px;
}

#optionsframework .mini .explain {
	max-width: 74%;
}

.chl {
	float: left;
	margin: 0 0 15px;
}

.chl .controls {
	width: 100% !important;
	margin: 0 15px 0 0;
}

.chl input.checkbox {
	margin: 5px 10px 5px 0 !important;
}

#optionsframework .section-editor .explain {
	max-width: 98%;
	float: none;
	margin-bottom: 5px;
}

#optionsframework .controls input.upload {
	width: 50%;
}

#optionsframework .screenshot {
	float: left;
	margin-left: 1px;
	position: relative;
	width: 344px;
	margin-top: 3px;
}

#optionsframework .screenshot img {
	background: #fafafa;
	border: 1px solid #ddd;
	border-style: solid;
	border-width: 1px;
	float: left;
	max-width: 80px;
	margin-bottom: 10px;
}

#optionsframework .screenshot .remove-image {
	background: #c40000;
	position: absolute;
	left: -4px;
	bottom: 4px;
	border: medium none;
	display: block;
	float: left;
	color: #fff;
	height: 20px;
	line-height: 17px;
	text-align: center;
	padding: 0;
	width: 20px;
	cursor: pointer;
	border-radius: 50%;
	display: none;
}

#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}

#optionsframework .screenshot .no_image .remove-button {
	bottom: 0px;
}

#optionsframework .reset-button {
	float: left;
	cursor: pointer;
	margin: 7px 0 0 20px;
}

#optionsframework-submit {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	background: #f1f1f1;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid #ddd;
}

#optionsframework .button-primary {
	float: right;
}

#optionsframework .section:after {
	content: "";
	display: table;
}

#optionsframework .section:after {
	clear: both;
}

.ht h4 {
	font-weight: normal !important;
}

.section-radio h4 {
	margin-top: 5px !important;
}

.file_link a {
	text-decoration: none;
}

#catids li,#catid li,#specialid li,#blog_specialid li {
	float: left;
	color: #999;
	padding: 2px 5px;
}

.be-inf {
	position: relative;
	max-width: 980px;
	margin: 18px 0 15px;
}

.be-themes {
	line-height: 20px !important;
	display: inline-block;
	margin-left: 45px;
}

.begin-ico {
	position: absolute;
	top: 0;
	left: -2px;
}

.cx-begin {
	color: #5881a1;
	font-size: 40px;
	line-height: 40px !important;
	vertical-align: middle;
}

.themes-name {
	color: #555;
	font-size: 20px;
	font-weight: 700 !important;
	margin: 0;
	padding: 0;
}

.themes-inf {
	color: #777;
	line-height: 20px;
	padding: 0 0 0 1px;
}

.themes-help a {
	position: fixed;
	bottom: 300px;
	right: 6px;
	color: #5881a1 !important;
	display: block;
	padding: 0 5px;
	text-decoration: none;
}

.themes-help .mce-i-wp_help {
	font-size: 15px;
	font-size: 1.5rem;
	color: #5881a1;
	vertical-align: -24%;
}

.themes-help a:hover .mce-i-wp_help {
	color: #666 !important;
}

.be-options-submit {
	position: relative;
	position: fixed;
	right: 9px;
	bottom: 220px;
}

.be-options-submit input {
	background: transparent;
	width: 40px;
	height: 40px;
}

.be-button-primary {
	cursor: pointer;
	outline: none;
	border: none;
}

.be-options-submit:before {
	position: absolute;
	top: 10px;
	right: 5px;
	content: "\f159";
	font-family: dashicons;
	font-size: 22px;
	color: #5881a1;
	cursor: pointer;
	pointer-events: none;
}

.be-options-submit:hover:before {
	color: #666;
}

#section-clear {
	margin-top: 16px;
	padding: 0;
	clear: both;
	border-top: 1px solid #e5e5e5;
}

#tabt_id,#tabz_n {
	min-width: 140px !important;
	width: 140px !important;
}

#section-img_c .explain {
	float: left;
	margin: 10px 0;
}

.mh {
	float: left;
	width: 35%;
	margin: 0 0 10px 0;
}

.mh .controls {
	width: 60%;
	margin: 0 10px 0 0;
}

.chl5 {
	float: left;
	width: 45%;
	margin: 0 0 10px 0;
}

.chl5 .controls {
	width: 60%;
	margin: 0 10px 0 0;
}

@media screen and (max-width:600px) {
	.chl5 {
		float: inherit;
		width: 100%;
	}
}

.tw3 .controls {
	width: 80px;
	margin: 0 10px 0 0;
}

.tw3 {
	float: left;
	width: 140px;
	margin: 0 0 10px 0;
}

.el .explain {
	float: left;
}

.fol .explain {
	padding: 0 0 8px 0;
}

.icon_sm h4 {
	display: none;
}

#seo-excerpt {
	width: 95%;
}

.t70 textarea,#allowed_sites {
	height: 70px;
}

.tk .controls {
	width: 100%;
}

#section-custom_placard_img h4 {
	margin: 10px 0;
	font-weight: 400;
}

#section-custom_placard_content h4 {
	margin: 0 0 10px;
	font-weight: 400;
}

#optionsframework #section-crop_top label,#optionsframework #section-async_defer label {
	float: none;
	margin: 0 10px 0 0;
}

.rr label {
	margin: 0 5px 0 0;
}

#optionsframework #section-crop_top input.of-radio,#optionsframework #section-async_defer input.of-radio {
	float: none;
	margin: 0 1px 0 0;
}

#section-img_crop .explain {
	float: left;
	margin: 0;
}

.section-color {
	float: left;
	width: 40%;
}

.section-color .explain {
	padding: 6px 3px;
}

.be-box .wp-color-result-text {
	background: #fff;
	border-left: 1px solid #ddd;
}

.be-box .wp-media-buttons .wp-media-buttons-icon,.be-box div.mce-path {
	display: none;
}

.be-box div.mce-statusbar {
	border-top: none;
}

.be-box .wp-editor-container {
	box-shadow: none;
}

.be-box .mce-top-part:before {
	position: absolute;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.be-box .wp-media-buttons .insert-media {
	padding: 0 5px;
}

.be-box .wp-media-buttons .button:hover {
	background: #5881a1 !important;
}

.cod .controls {
	display: none;
}

.cod .explain {
	color: #999 !important;
	padding: 5px;
	border-radius: 2px;
	border: 1px dashed #e7e7e7;
}

.cod .heading {
	color: #555;
	font-weight: 400 !important;
	margin: 10px 0;
}

#section-custom_css .explain {
	color: #444 !important;
	font-weight: bold;
}

.fsl {
	float: left;
	width: 10px;
	margin: 6px 25px 0 0;
}

#section-setup_views,#section-add_invitation,#section-keyword_link_settings {
	padding-bottom: 13px !important;
}

#section-setup_views a,#section-add_invitation a,#section-iconfont_cn a,#section-keyword_link_settings a {
	background: #5881a1;
	color: #fff !important;
	margin-left: -15px;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #5881a1;
}

@media screen and (max-width:600px) {
	#section-setup_views a,#section-add_invitation a,#section-iconfont_cn a,#section-keyword_link_settings a {
		margin-left: -6px;
	}
}

#section-setup_tougao a:hover,#section-setup_views a:hover,#section-add_invitation a:hover,#section-iconfont_cn a:hover,#section-keyword_link_settings a:hover {
	border: 1px solid #5881a1;
	background: linear-gradient(to right,#426179,#5881a1) !important;
}

.be-box select:focus,.be-box a:focus,.be-box textarea:focus,.be-box button:focus,.be-box input[type="button"]:focus,.be-box input[type="text"]:focus,.be-box input[type="submit"]:focus,.postbox input[type="checkbox"]:focus,.be-box input[type="checkbox"]:focus {
	box-shadow: none !important;
}

.be-box button:focus,.be-box select:focus,.be-box textarea:focus,.be-box input[type="text"]:focus {
	border: 1px solid #5881a1 !important;
}

.be-box .button-primary {
	background: #5881a1 !important;
	border: 1px solid #5881a1 !important;
	color: #fff;
	text-decoration: none;
	-webkit-appearance: none;
	text-shadow: none;
	outline: none;
}

.be-box .button-primary:hover {
	background: linear-gradient(to right,#426179,#5881a1) !important;
	border: 1px solid #5881a1 !important;
}

#optionsframework-submit .button-primary {
	margin: 7px 20px 0 0;
}

.postbox .checkbox, 
.be-box .checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	width: 31px !important;
	height: 10px !important;
	outline: 0;
	border-radius: 16px !important;
	box-sizing: border-box;
	background: #dfdfdf;
	border: 1px solid #e5e5e5 !important;
}

.postbox .checkbox:before,.postbox  .checkbox:after, 
.be-box .checkbox:before,.be-box .checkbox:after {
	content: " ";
	position: absolute;
	top: -6px;
	left: 0;
	border-radius: 100%;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s,-webkit-transform .3s;
}

.postbox .checkbox:after, 
.be-box .checkbox:after {
	width: 18px;
	height: 18px;
	background: #fff;
	border: 1px solid #ddd;
}

.postbox .checkbox:checked, 
.be-box .checkbox:checked {
	background: #5881a1;
	border: 1px solid #5881a1 !important;
}

.postbox .checkbox:checked:before, 
.be-box .checkbox:checked:before {
	-webkit-transform: scale(0);
	transform: scale(0);
}

.postbox .checkbox:checked:after, 
.be-box .checkbox:checked:after {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
.postbox .checkbox:focus, 
.be-box .checkbox:focus {
	outline: 0;
}

#optionsframework .wp-color-result-text {
	line-height: 22px;
}

#section-random_image_url h4,#section-random_avatar_url h4,#section-random_long_url h4 {
	font-weight: normal;
}

input[type="number"].number-text {
	width: 70px;
}

input[type="number"].number-text-d {
	width: 70px;
}

.op-caid {
	position: fixed;
	right: 20px;
	top: 156px;
	cursor: pointer;
	z-index: 1;
}

.options-caid {
	top: 186px;
}

.special-id {
	top: 230px;
}

.to-top {
	position: fixed;
	right: 18px;
	bottom: 341px;
	color: #5881a1;
	cursor: pointer;
	z-index: 1;
	display: none;
	padding-left: 20px;
}

.to-top .dashicons {
	font-size: 26px !important;
}

.to-top:hover {
	color: #666;
}

.options-caid span,.special-id span {
	font-size: 16px;
	font-size: 1.6rem;
	color: #666;
}

.special-id span:hover,.options-caid span:hover {
	color: #5881a1;
}

.op-id-list {
	position: relative;
	position: fixed;
	right: 50px;
	background: #fff;
	width: 45%;
	padding: 10px;
	z-index: 999;
	display: none;
	border-radius: 3px;
	border: 1px solid #5881a1;
	border-left: 18px solid #5881a1;
	box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1);
}

.catid-site {
	max-height: 300px;
	min-height: 70px;
	overflow-x: auto;
}

.catid-list {
	top: 179px;
}

.special-id-list {
	top: 223px;
}

.show-id {
	float: left;
	color: #666;
	margin: 0;
	padding: 3px 0;
}

.show-id span {
	font-size: 12px;
	color: #fff;
	vertical-align: super;
	background: #5881a1;
	margin: 0 10px 0 2px;
	padding: 0 5px;
	border-radius: 18px;
}

.catid-t {
	position: absolute;
	top: 15px;
	left: -15px;
	font-size: 12px;
	color: #fff;
	width: 18px;
}

.arrow-right {
	position: relative;
	display: block;
}

.arrow-right:before {
	position: absolute;
	top: 0;
	right: -26px;
	width: 0;
	height: 0;
	margin: 0 0 0 -8px;
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	border-left: 8px solid #fff;
	border-right: 8px solid transparent;
	display: block;
	content: '';
	z-index: 2;
}

.arrow-right:after {
	position: absolute;
	top: 0;
	right: -27px;
	width: 0;
	height: 0;
	margin: 0 0 0 -8px;
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	border-left: 8px solid #44637c;
	border-right: 8px solid transparent;
	display: block;
	content: '';
	z-index: 1
}

#postcustomstuff table,#postcustomstuff thead th {
	background: #fff;
}

#section-copyright_case h4 {
	font-weight: normal;
	margin: 1.33em 0 0 0;
}

.file-uploads input,textarea.file-uploads {
	display: block;
}

.begin_file {
	margin: 5px 0 0 0 !important;
}

.link-php #poststuff .inside {
	padding: 12px;
}

#optionsframework a {
	color: #777;
	text-decoration: none;
}

.woocommerce-page .wp-list-table img {
	width: 48px !important;
	height: 48px !important;
	max-width: 48px !important;
	max-height: 48px !important;
}

.woocommerce-page .check-column img {
	margin: 1px 2px 1px 123px !important;
}

.meta-number input[type="number"] {
	width: 70px !important;
}

.codes_table tr:nth-child(2n) {
	background: #f9f9f9;
}

.icon-url {
	margin: 0 0 10px 0;
}

.option .checkbox {
	border-radius: 16px !important;
}

.option input,.option select,.option textarea {
	background: #f1f1f1;
	box-shadow: none;
	border-radius: 2px;
	border: 1px solid #e5e5e5;
}

.option textarea {
	padding: 5px 8px;
}

.option input:focus,.option select:focus,.option textarea:focus {
	border: 1px solid #fff;
	outline: none
}

#optionsframework input[type="radio"]:focus {
	border: 1px solid #5881a1 !important;
	box-shadow: none !important;
}

#optionsframework input[type="checkbox"]:focus {
	border: none;
	box-shadow: none !important;
}

#optionsframework .button {
	color: #666;
	background: #f1f1f1;
	border: 1px solid #ddd;
}

#optionsframework .button-secondary {
	color: #666;
	background: #f1f1f1;
	border: 1px solid #ddd;
}

#optionsframework .button:hover {
	color: #fff !important;
	border: 1px solid #5881a1 !important;
}

#optionsframework .upload-button:hover {
	background: linear-gradient(to right,#426179,#5881a1);
}

#optionsframework .button-secondary:hover,#optionsframework .button:hover {
	color: #fff;
	border: 1px solid #5881a1;
}

#optionsframework .upload-button:hover,#optionsframework .reset-button:hover {
	color: #666;
	border: 1px solid #ddd;
}

#optionsframework .button-small.button:hover,#optionsframework .remove-file.button:hover {
	background: linear-gradient(to right,#426179,#5881a1);
}

.be-box .wp-color-result-text {
	line-height: 2.54545455;
	padding: 1px 6px;
}

#optionsframework .wp-color-result-text {
	line-height: 26px !important;
}

#optionsframework input[type="radio"] {
	border-radius: 50%;
	box-shadow: none;
}

#optionsframework .wp-core-ui .button:focus {
	box-shadow: none !important;
}

.cat_upload_cover_button,.cat_remove_cover_button,.zm_remove_image_button,.zm_upload_image_button {
	margin: 5px 0 0 0 !important;
}

.components-button.block-editor-block-switcher__no-switcher-icon:disabled .block-editor-block-icon.has-colors {
	background: #fff !important;
}

#optionsframework input[type="text"],#optionsframework-wrap select {
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

#optionsframework-wrap .mini input[type="text"] {
	text-align: center;
}

.edit-post-meta-boxes-area #poststuff h2.hndle {
	border-bottom: none !important;
}

.edit-post-layout__metaboxes:not(:empty) {
	padding: 0;
}

#optionsframework input[type="radio"]:checked::before {
	background: #5881a1 !important;
}

#optionsframework input[type="radio"]:checked {
	border: 1px solid #5881a1 !important;
}

#show_slider_video_url-image .no-image,#group_slider_video_url-image .no-image {
	display: none;
}

.be-wrapper {
	position: relative;
}

.be-metabox {
	margin-left: 120px;
}

.be-box .nav-tab-wrapper,.be-box .wrap h2.nav-tab-wrapper {
	padding: 0;
	border-bottom: none !important;
}

.be-box .metabox-holder {
	padding-top: 0 !important;
}

.be-box .nav-tab-wrapper {
	padding-top: 0 !important;
}

.be-nav-tab {
	background: #f1f1f1;
	position: absolute;
	z-index: 3;
	width: 120px;
	border: none;
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

.be-box .nav-tab {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	display: block;
	width: 120px;
	margin: 0 0 -1px 0;
	padding: 5px 0;
	border-top: 1px solid #ddd;
	border-right: none !important;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd !important;
}

.be-box .nav-tab-active {
	background: linear-gradient(to right,#f1f1f1,#fff);
	color: #333;
	position: relative;
	padding: 5px 1px 5px 0;
	border-right: none !important;
}

.be-box .nav-tab-active:before {
	color: #333 !important;
}

.nav-tab:hover:before {
	color: #5881a1;
}

@media screen and (min-width:600px) {
	.be-nav-tab {
		top: 0;
		left: -1px;
	}

	.be-box .nav-tab-active:after {
		background: #5881a1;
		position: absolute;
		left: -1px;
		top: 0;
		content: "";
		width: 2px;
		height: 100%;
		z-index: 1;
	}
}

#options-group-19-tab:before,#options-group-18-tab:before,#options-group-17-tab:before,#options-group-16-tab:before,#options-group-15-tab:before,#options-group-14-tab:before,#options-group-13-tab:before,#options-group-12-tab:before,#options-group-11-tab:before,#options-group-10-tab:before,#options-group-9-tab:before,#options-group-8-tab:before,#options-group-7-tab:before,#options-group-6-tab:before,#options-group-5-tab:before,#options-group-4-tab:before,#options-group-3-tab:before,#options-group-2-tab:before,#options-group-1-tab:before {
	font-family: dashicons;
	font-size: 10px;
	font-size: 1rem;
	line-height: 2;
	font-weight: normal;
	vertical-align: -8%;
	margin: 0 8px 0 10px;
}

[id*="group-1"] h3:after,#options-group-1-tab:before {
	content: "\f102";
}

[id*="group-2"] h3:after,#options-group-2-tab:before {
	content: "\f111";
}

[id*="group-3"] h3:after,#options-group-3-tab:before {
	content: "\f110";
}

[id*="group-4"] h3:after,#options-group-4-tab:before {
	content: "\f228";
}

[id*="group-5"] h3:after,#options-group-5-tab:before {
	content: "\f128";
}

[id*="group-6"] h3:after,#options-group-6-tab:before {
	content: "\f318";
}

[id*="group-7"] h3:after,#options-group-7-tab:before {
	content: "\f186";
}

[id*="group-8"] h3:after,#options-group-8-tab:before {
	content: "\f125";
}

[id*="group-9"] h3:after,#options-group-9-tab:before {
	content: "\f116";
	font-size: 1.05rem;
}

[id*="group-10"] h3:after,#options-group-10-tab:before {
	content: "\f13d";
}

[id*="group-11"] h3:after,#options-group-11-tab:before {
	content: "\f161";
	font-family: dashicons;
}

[id*="group-12"] h3:after,#options-group-12-tab:before {
	content: "\f179";
}

[id*="group-13"] h3:after,#options-group-13-tab:before {
	content: "\f324";
}

[id*="group-14"] h3:after,#options-group-14-tab:before {
	content: "\f533";
}

[id*="group-15"] h3:after,#options-group-15-tab:before {
	content: "\f185";
}

[id*="group-16"] h3:after,#options-group-16-tab:before {
	content: "\f319";
}

[id*="group-17"] h3:after,#options-group-17-tab:before {
	content: "\f100";
}

#options-group-18-tab:before {
	content: "\f223";
}

[id*="group-18"] h3:after {
	content: "\f223";
	font-size: 1.3rem;
	vertical-align: -20%;
}

[id*="group-19"] h3:after,#options-group-19-tab:before {
	content: "\f463";
}

.bem:before {
	content: "\e600";
	font-family: cx;
	font-size: 15px;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

@media screen and (max-width:600px) {
	.be-nav-menu {
		position: relative;
		background: #f1f1f1;
		position: absolute;
		top: 20px;
		right: 30px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 1;
		border-radius: 50%;
		border: 1px solid #ddd;
	}

	.be-nav-menu:before {
		position: absolute;
		top: 50%;
		right: 50%;
		margin: -11px -10px 0 0;
		content: "\f228";
		font: normal 20px dashicons;
		color: #999;
	}

	@-moz-document url-prefix() {
		.be-nav-menu:before {
			margin: -10px -10px 0 0;
		}
	}

	.be-nav-menu:hover {
		background: #5881a1;
		border: 1px solid #5881a1;
	}

	.be-nav-menu:hover.be-nav-menu:before {
		color: #fff;
	}

	.be-nav-tab {
		display: none;
	}

	.be-box .nav-tab {
		padding: 3px 0;
		border-right: 1px solid #ddd !important;
	}

	.be-box .nav-tab-active {
		background: #fff;
		margin: 0;
		border-right: 1px solid #ddd !important;
		border-left: 1px solid #ddd;
	}

	.be-metabox {
		margin-left: 0;
	}

	.be-nav-tab {
		position: absolute;
		top: 55px;
		right: 30px !important;
		left: none !important;
		box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1);
	}

	.be-box h2 .nav-tab {
		margin: 0 0 -1px 0 !important;
	}

	.be-box .nav-tab-active:after {
		right: 2px;
	}
}

@media screen and (max-width:782px) {
	.section-color {
		width: 60%;
	}

	#optionsframework select {
		font-size: 14px !important;
		min-height: 30px;
		line-height: 2;
		padding: 0 8px;
	}

	#optionsframework .screenshot {
		float: inherit;
		width: 290px;
	}

	.wp-core-ui .be-box .button {
		line-height: 2.15384615;
		font-size: 13px;
		min-height: 30px;
		margin: 0 !important;
		padding: 0 10p;
	}

	.be-box input[type=checkbox],input[type=radio] {
		height: 1rem;
		width: 1rem;
	}

	.be-box input[type=radio]:checked::before {
		width: .5rem;
		height: .5rem;
		margin: .1875rem;
		line-height: 1.14285714;
	}

	.be-box input[type=text] {
		padding: 0 8px;
		line-height: 2;
		min-height: 30px;
	}

	.be-box input,.be-box textarea {
		font-size: 14px;
	}
}

body {
	font-family: Microsoft YaHei;
}

#activity-widget #the-comment-list .avatar {
	width: 48px;
	height: 48px;
}

.clear {
	clear: both;
	margin: 0 0 8px 0
}

#addlink .stuffbox .inside {
	padding: 15px;
}

#addlink #namediv input {
	width: 100%;
}

.column-description p img {
	display: none;
}

.h4h .heading{
	margin: 20px 0 -5px;
}

.edit-tags-php .column-description p:nth-child(1) {
	height: 75px;
	overflow: hidden;
}

.edit-tags-php .column-description p:not(:first-child) {
	display: none;
}

.php-error #adminmenuback,.php-error #adminmenuwrap {
	margin-top: 0;
}

.settings_page_views_options .form-table td {
	padding: 15px 0;
}

#menu-appearance .menu-icon:before {
	content: "\e600";
	font-family: cx;
	font-size: 15px !important;
	font-weight: normal;
	line-height: 23px;
	vertical-align: middle;
}

.invitation_code td input[type="text"] {
	width: auto !important;
}

#available-widgets [class*="new_cat"] .widget-title:before {
	content: "\f498";
}

#available-widgets [class*="img_cat"] .widget-title:before {
	content: "\f161";
}

#available-widgets [class*="random_post"] .widget-title:before {
	content: "\f515";
}

#available-widgets [class*="related_post"] .widget-title:before {
	content: "\f133";
}

#available-widgets [class*="hot_commend"] .widget-title:before {
	content: "\f529";
}

#available-widgets [class*="readers"] .widget-title:before {
	content: "\f307";
}

#available-widgets [class*="about"] .widget-title:before,#available-widgets [class*="feed"] .widget-title:before {
	content: "\f237";
}

#available-widgets [class*="sponsor"] .widget-title:before {
	content: "\f319";
}

#available-widgets [class*="about_author"] .widget-title:before {
	content: "\f338";
}

#available-widgets [class*="img_widget"] .widget-title:before {
	content: "\f128";
}

#available-widgets [class*="tao_widget"] .widget-title:before {
	content: "\f174";
}

#available-widgets [class*="specified_post"] .widget-title:before,#available-widgets [class*="timing_post"] .widget-title:before {
	content: "\f321";
}

#available-widgets [class*="author_widget"] .widget-title:before {
	content: "\f12e";
}

#available-widgets [class*="updated_posts"] .widget-title:before {
	content: "\f531";
}

#available-widgets [class*="pages_recent_comments"] .widget-title:before {
	content: "\f101";
}

#available-widgets [class*="be_tabs"] .widget-title:before {
	content: "\f164";
}

#available-widgets [class*="site_profile"] .widget-title:before {
	content: "\f11f";
}

#available-widgets [class*="hot_post_img"] .widget-title:before {
	content: "\f157";
}

#available-widgets [class*="ajax_widget"] .widget-title:before {
	content: "\f163";
}

#available-widgets [class*="week_post"] .widget-title:before,#available-widgets [class*="mday_post"] .widget-title:before {
	content: "\f145";
}

#available-widgets [class*="show_widget"] .widget-title:before {
	content: "\f514";
}

#available-widgets [class*="child_cat"] .widget-title:before {
	content: "\f18f";
}

#available-widgets [class*="same_post"] .widget-title:before {
	content: "\f105";
}

#available-widgets [class*="ids_post"] .widget-title:before {
	content: "\f119";
}

#available-widgets [class*="special_tag"] .widget-title:before,#available-widgets [class*="widget_cover"] .widget-title:before {
	content: "\f233";
}

#available-widgets [class*="widget_color_cat"] .widget-title:before,#available-widgets [class*="widget_tree_cat"] .widget-title:before,#available-widgets [class*="widget_cat_icon"] .widget-title:before {
	content: "\f318";
}

#available-widgets [class*="bulletin_cat"] .widget-title:before,#available-widgets [class*="widget_notice"] .widget-title:before {
	content: "\f521";
}

#available-widgets [class*="special_list"] .widget-title:before,#available-widgets [class*="widget_special"] .widget-title:before {
	content: "\f183";
}

#available-widgets [class*="recently_viewed"] .widget-title:before {
	content: "\f177";
}

#available-widgets [class*="widget_filter"] .widget-title:before {
	content: "\f175";
}

#available-widgets [class*="cat_popular"] .widget-title:before {
	content: "\f227";
}

#available-widgets [class*="begin_favorite"] .widget-title:before {
	content: "\f459";
}

.group-heading {
	position: relative;
	cursor: pointer;
	margin: 11px 0 16px 0 !important;
	padding: 10px 0;
}

.group-heading {
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.group-heading:hover {
	padding-left: 10px;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.show:after,.cover:after {
	float: right;
	content: "\f343";
	font-family: dashicons;
	font-size: 12px;
	color: #999;
	font-weight: normal;
	transition: 0.45s;
	transform-style: preserve-3d;
}

.show:after {
	content: "\f347";
}

.all_expand_all {
	position: fixed;
	bottom: 260px;
	right: 15px;
	cursor: pointer;
	padding: 2px 0 2px 20px !important;
}

.all_expand_all:before {
	content: "\f502";
	font-family: dashicons;
	font-size: 1.3rem;
	color: #5881a1;
}

.all_expand_all:hover:before {
	color: #666;
}

.group-heading:hover .show:after {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}

.group-content {
	display: none;
	padding: 0 0 18px 0;
}

.group-content-show {
	display: block;
}

.show_box {
	position: absolute;
	top: -40px;
	right: 0;
	padding: 0 !important;
}

.show_box input.checkbox {
	margin: 5px 7px 5px 0 !important;
}

.show_box .controls {
	padding: 0 !important;
	margin: 0 !important;
}

.show_box .option input {
	background: #bababa;
	border: 1px solid #bababa;
}

.show_box .checkbox:checked {
	background: #5881a1;
	border: 1px solid #5881a1 !important;
}

.group-content #section-clear {
	margin: 16px -30px 0 -30px;
	border-top: 1px dashed #e5e5e5;
}

.group-content .section .mini .controls {
	width: 0 !important;
	min-width: 0 !important;
}

.group-content .section {
	padding: 2px !important;
}

.section-groupstart {
	clear: both;
	margin: 0 0 8px 0 !important;
	border-bottom: 1px solid #e5e5e5;
}

.bel.section-groupstart {
	border-bottom: none;
}

.save_but i:after,.cat_but i:after,.help_but i:after,.expand_but i:after {
	content: "\f502";
	font-family: dashicons;
	font-size: 1.3rem;
	color: #5881a1;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
	margin: 0 4px;
}

.help_but i:after {
	content: "\f223";
	color: #5881a1;
}

.cat_but i:after {
	content: "\f204";
	font-size: 1.6rem;
	vertical-align: -40%;
	color: #666;
}

.save_but i:after {
	content: "\f159";
	color: #5881a1;
}

#optionsframework .all_but .explain {
	max-width: 100%;
}

.all_but h4 {
	margin: 1.33em 0 1px;
}
.all_but {
	position: relative;
}

.all_but i {
	margin: 0 45px 0 0;
}

.all_but input {
	position: absolute;
	top: 20px;
	left: 133px;
}

@media screen and (min-width:782px) {
	@-moz-document url-prefix() {
			.begin-ico{top: 2px;
		}
	}

	@-moz-document url-prefix() {
		.group-heading:after {
			padding-top: 1px;
		}
	}
}

[id*="surl"] h3:before, [id*="show"] h3:before, [id*="sites"] h3:before, [id*="video"] h3:before, [id*="picture"] h3:before, [id*="surl"] h3:before, [id*="notice"] h3:before, [id*="gallery"] h3:before, [id*="videos"] h3:before, [id*="tao"] h3:before, [id*="products"] h3:before, [id*="filters"] h3:before, [id*="feed"] h3:before,[id*="feed"] h3:before,[id*="random"] h3:before,[id*="recent_comments"] h3:before,[id*="readers"] h3:before,[id*="site_profile"] h3:before,[id*="related"] h3:before,[id*="pages"] h3:before,[id*="widget_notice"] h3:before,[id*="widget_filter"] h3:before,[id*="hot"] h3:before,[id*="ids"] h3:before,[id*="tree"] h3:before,[id*="favorite"] h3:before,[id*="sponsor"] h3:before,[id*="slider_post"] h3:before,[id*="php_text"] h3:before,[id*="same"] h3:before,[id*="cover"] h3:before,[id*="feed"] h3:before,[id*="img_cat"] h3:before,[id*="color_cat"] h3:before,[id*="child_cat"] h3:before,[id*="cat_icon"] h3:before,[id*="new_cat"] h3:before,[id*="cat_pop"] h3:before,[id*="bulletin"] h3:before,[id*="cx_tag"] h3:before,[id*="cat_tag"] h3:before,[id*="cat_tag"] h3:before,[id*="about"] h3:before,[id*="author"] h3:before,[id*="special"] h3:before,[id*="ajax"] h3:before,[id*="be_"] h3:before {
	content: "\e600";
	font-family: cx;
	font-size: 16px !important;
	color: #0073aa;
	font-weight: normal;
	vertical-align: middle;
	margin: 0 8px 0 0;
}